include "cursor.kdl"
include "environment.kdl"
include "gestures.kdl"
include "keybinds.kdl"
include "input.kdl"
include "layout.kdl"
include "output.kdl"
include "startup.kdl"
include "window-rules.kdl"

hotkey-overlay {
    skip-at-startup
}

xwayland-satellite {
  path "xwayland-satellite"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
