input {
    keyboard {
        xkb {
            layout "us, ru"
            options "grp:ctrls_toggle"
        }

        repeat-delay 300
        repeat-rate 80

        numlock
    }

    warp-mouse-to-focus
}

cursor {
  hide-when-typing
}

gestures {
  hot-corners {
    off
  }
}

output "DP-1" {
    mode "1920x1080@165.000"
}

layout {
    gaps 8

    always-center-single-column
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

spawn-at-startup "swww-daemon"
spawn-at-startup "niri-float-sticky"
spawn-at-startup "swayidle"
spawn-sh-at-startup "llama-swap -config ~/.config/llama-swap/config.yaml"

hotkey-overlay {
    skip-at-startup
}

xwayland-satellite {
  path "xwayland-satellite"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true

    opacity 0.9
}

window-rule {
    match title=r#"^.* - YouTube$|^Сериал.*смотреть онлайн.*$|^.*\| Tape Operator$"#
    exclude app-id="Yandex-browser"

    open-floating true
    open-focused false
    opacity 1.0
    default-column-width { proportion 0.3; }
    default-window-height { proportion 0.3; }
    default-floating-position x=0 y=0 relative-to="bottom-right"
}
window-rule {
    match app-id="Microsoft Windows"

    opacity 1.0
}

binds {
    Mod+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open a Terminal: Ghostty" { spawn "ghostty"; }
    Mod+A hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-modes" "drun,run" "-show"; }
    Mod+B hotkey-overlay-title="Open browser: Yandex" { spawn "yandex-browser-stable"; }
    Mod+Shift+B hotkey-overlay-title="Open browser: Yandex (Incognito)" { spawn "yandex-browser-stable" "--incognito"; }
    Mod+G hotkey-overlay-title="Toggle wl-kbptr" { spawn "wl-kbptr"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "ddcutil setvcp 10 + 10 -b 6 --skip-ddc-checks"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "ddcutil setvcp 10 - 10 -b 6 --skip-ddc-checks"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Shift+H { set-column-width "-5%"; }
    Mod+Shift+L { set-column-width "+5%"; }
    Mod+Shift+K { set-window-height "-10%"; }
    Mod+Shift+J { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Tab { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Mod+Escape { quit; }

    Mod+Shift+P { power-off-monitors; }
}
